<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.hotel.mapper.HotelMapper">
<!--    统计酒店名称数量-->
    <select id="countHotelName" parameterType="java.lang.String" resultType="int">
        select count(hotel_name)
        from hotel_info
        where is_delete = 0
        and hotel_name = #{hotelName}
    </select>
<!--    新增酒店信息-->
    <insert id="saveHotel" parameterType="com.example.demo.hotel.entity.HotelInfo">
        insert into hotel_info
        (
            hotel_id,
            hotel_name,
            img_path,
            hotel_comment,
            hotel_characteristic,
            hotel_star,
            user_id,
            province_id,
            city_id,
            area_id,
            hotel_address,
            classify_id,
            is_delete,
            create_user,
            create_time,
            update_user,
            update_time,
            version
        )
        values
        (
            #{hotelId},
            #{hotelName},
            #{imgPath},
            #{hotelComment},
            #{hotelCharacteristic},
            #{hotelStar},
            #{userId},
            #{provinceId},
            #{cityId},
            #{areaId},
            #{hotelAddress},
            #{classifyId},
            0,
            #{createUser},
            now(),
            #{createUser},
            now(),
            0
        )
    </insert>
<!--    新增酒店明细表-->
    <insert id="saveHotelDetail" parameterType="java.util.List">
        insert into hotel_detail
        (
            hotel_type_id,
            hotel_id,
            hotel_type_name,
            hotel_type_price,
            hotel_type_stock,
            img_id,
            is_delete,
            create_user,
            create_time,
            update_user,
            update_time,
            version
        )
        values
        <foreach collection="hotelDetailInfo" index="index" item="item" separator=",">
        (
            #{item.hotelTypeId},
            #{item.hotelId},
            #{item.hotelTypeName},
            #{item.hotelTypePrice},
            #{item.hotelTypeStock},
            #{item.imgId},
            0,
            #{item.createUser},
            now(),
            #{item.createUser},
            now(),
            0
        )
        </foreach>
    </insert>
<!--    酒店明细映射集合-->
    <resultMap id="hotelMap" type="com.example.demo.hotel.entity.HotelInfo">
        <id property="hotelId" column="hotel_id" jdbcType="VARCHAR"></id>
        <result property="hotelName" column="hotel_name" jdbcType="VARCHAR"></result>
        <result property="imgPath" column="img_path" jdbcType="VARCHAR"></result>
        <result property="hotelComment" column="hotel_comment" jdbcType="VARCHAR"></result>
        <result property="hotelCharacteristic" column="hotel_characteristic" jdbcType="VARCHAR"></result>
        <result property="hotelStar" column="hotel_star" jdbcType="DOUBLE"></result>
        <result property="userId" column="user_id" jdbcType="VARCHAR"></result>
        <result property="provinceId" column="province_id" jdbcType="VARCHAR"></result>
        <result property="cityId" column="city_id" jdbcType="VARCHAR"></result>
        <result property="areaId" column="area_id" jdbcType="VARCHAR"></result>
        <result property="hotelAddress" column="hotel_address" jdbcType="VARCHAR"></result>
        <result property="classifyId" column="classify_id" jdbcType="VARCHAR"></result>
        <result property="version" column="version" jdbcType="VARCHAR"></result>
        <collection property="hotelDetailInfos" ofType="com.example.demo.hotel.entity.HotelDetailInfo">
            <result property="hotelId" column="hotel_id" jdbcType="VARCHAR"></result>
            <result property="hotelTypeId" column="hotel_type_id" jdbcType="VARCHAR"></result>
            <result property="hotelTypeName" column="hotel_type_name" jdbcType="VARCHAR"></result>
            <result property="hotelTypePrice" column="hotel_type_price" jdbcType="VARCHAR"></result>
            <result property="hotelTypeStock" column="hotel_type_stock" jdbcType="VARCHAR"></result>
            <result property="imgId" column="img_id" jdbcType="VARCHAR"></result>
            <result property="version" column="version" jdbcType="VARCHAR"></result>
        </collection>
    </resultMap>
<!--    查询酒店详情-->
    <select id="getHotel" resultMap="hotelMap">
        SELECT *
        from hotel_info h1
        inner JOIN (select hotel_type_id,hotel_type_name,hotel_id,hotel_type_price,hotel_type_stock,img_id,version from hotel_detail where is_delete = 0) h2
        on h1.hotel_id = h2.hotel_id
        where h1.hotel_id = #{hotelId}
        and h1.is_delete = 0
    </select>
<!--    列表查询酒店详情-->
    <select id="listHotel" resultMap="hotelMap">
        SELECT *
        from hotel_info h1
        inner JOIN
        (select hotel_type_id,hotel_type_name,hotel_id,hotel_type_price,hotel_type_stock,img_id,version from hotel_detail where is_delete = 0) h2
        on h1.hotel_id = h2.hotel_id
        <where>
        0 = 0
        <if test="hotelInfo != null">
            <if test="hotelInfo.hotelName != null and hotelInfo.hotelName != ''">
                and hotel_name like concat('%',{hotelInfo.hotelName},'%')
            </if>
            <if test="hotelInfo.hotelComment != null and hotelInfo.hotelComment != ''">
                and hotel_comment like concat('%',{hotelInfo.hotelComment},'%')
            </if>
            <if test="hotelInfo.hotelCharacteristic != null and hotelInfo.hotelCharacteristic != ''">
                and hotel_characteristic like concat('%',{hotelInfo.hotelCharacteristic},'%')
            </if>
            <if test="hotelInfo.hotelStar != null and hotelInfo.hotelStar != ''">
                and hotel_star like concat({hotelInfo.hotelStar},'%')
            </if>
            <if test="hotelInfo.provinceId != null and hotelInfo.provinceId != ''">
                and province_id = {hotelInfo.provinceId}
            </if>
            <if test="hotelInfo.cityId != null and hotelInfo.cityId != ''">
                and city_id = {hotelInfo.cityId}
            </if>
            <if test="hotelInfo.hotelAddress != null and hotelInfo.hotelAddress != ''">
                and hotel_address like concat('%',{hotelInfo.hotelAddress},'%')
            </if>
            <if test="hotelInfo.classifyId != null and hotelInfo.classifyId != ''">
                and classify_id = {hotelInfo.classifyId}
            </if>
        </if>
        </where>
    </select>
<!--    修改酒店信息-->
    <update id="updateHotel" parameterType="com.example.demo.hotel.entity.HotelInfo">
        update hotel_info
        set
            hotel_name      = #{hotelName},
            img_path        = #{imgPath},
            hotel_comment   = #{hotelComment},
            hotel_characteristic = #{hotelCharacteristic},
            user_id         = #{userId},
            province_id     = #{provinceId},
            city_id         = #{cityId},
            area_id         = #{areaId},
            hotel_address   = #{hotelAddress},
            classify_id     = #{classifyId},
            update_user     = #{updateUser},
            update_time     = now(),
            version         = version + 1
        where version = #{version}
        and hotel_id = #{hotelId}
    </update>
<!--    修改酒店房型详情-->
    <update id="updateHotelDetail" parameterType="com.example.demo.hotel.entity.HotelDetailInfo">
        update hotel_detail
        set
            hotel_type_name     = #{hotelTypeName},
            hotel_type_price    = #{hotelTypePrice},
            hotel_type_stock    = #{hotelTypeStock},
            img_id              = #{imgId},
            update_user         = #{updateUser},
            update_time         = now(),
            version             = version + 1
        where version = #{version}
        and hotel_type_id   = #{hotelTypeId}
    </update>
<!--    删除酒店房型信息-->
    <update id="deleteHotelDetail" parameterType="java.lang.String">
        update hotel_detail
        set
            is_delete = 1,
            update_user = #{updateUser},
            update_time = now(),
            version     = version + 1
        where hotel_type_id in
            <foreach collection="list" separator="," item="item" index="index" close=")" open="(">
                #{item}
            </foreach>
    </update>
<!--    删除酒店详情-->
    <update id="deleteHotel" parameterType="java.lang.String">
        update hotel_info
        set
            is_delete = 1,
            update_user = #{updateUser},
            update_time = now(),
            version = version + 1
        where hotel_id = #{hotelId}
    </update>
<!--    删除酒店类型-->
    <update id="deleteHotelType" parameterType="java.lang.String">
    update hotel_detail
    set
    is_delete = 1,
    update_user = #{updateUser},
    update_time = now(),
    version = version + 1
    where hotel_id = #{hotelId}
    </update>
<!--    新增酒店房型-->
    <insert id="saveHotelDetails" parameterType="com.example.demo.hotel.entity.HotelDetailInfo">
        insert into hotel_detail
        values
        (
            #{hotelTypeId},
            #{hotelId},
            #{hotelTypeName},
            #{hotelTypePrice},
            #{hotelTypeStock},
            #{imgId},
            0,
            #{createUser},
            now(),
            #{updateUser},
            now(),
            0
        )
    </insert>
</mapper>

