<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.wechat.mapper.WecharMapper">
    <insert id="saveUser" parameterType="com.example.demo.wechat.entity.WechatInfo">
        insert into user_info
        values
        (
            #{openId},
            #{nickName},
            #{password},
            3,
            #{sex},
            123,
            123,
            20,
            0,
            #{avatar},
            0,
            #{nickName},
            now(),
            #{nickName},
            now(),
            0
        )
    </insert>

</mapper>